---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { ClientOnly } from './client-only.tsx';
import '~/_features/page.works/index.module.scss';
import '~/_features/page.works-single/index.module.scss';

export interface Props {
	title: string;
  permalink: string;
}

const { props } = Astro;

const SITE_URL = 'https://shohayakawa.dev';
const siteTitle = 'Sho Hayakawa Portfolio';
const description = 'Frontend Engineer Sho Hayakawa 早川翔 portfolio website';

const title = props.title ? props.title + ' | ' + siteTitle : siteTitle;

const idDev = process.env.NODE_ENV !== 'production';
const LOCAL_IP_ADDR = process.env.LOCAL_IP_ADDR || 'localhost';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
    <slot name="prependHead" />
    <link
      as="font"
      crossorigin=""
      href="/assets/gallerymodern-webfont.woff2"
      rel="preload"
      type="font/woff2"
    />
    <link
      as="style"
      href="https://api.fontshare.com/css?f[]=satoshi@500&display=swap"
      onload="this.onload=null;this.rel='stylesheet';"
      rel="preload"
    />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>
    <meta content={description} name="description" />
    <meta content={title} property="og:title" />
    <meta content={props.permalink ? 'article' : 'website'} property="og:type" />
    <meta content={description} property="og:description" />
    <meta content={SITE_URL + props.permalink} property="og:url" />
    <meta content={siteTitle} property="og:site_name" />
    <meta content={SITE_URL + '/ogp.jpg'} property="og:image" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap" />
    {idDev && (
      <script defer src={`http://${LOCAL_IP_ADDR}:5173/src/entry.ts`} type="module" />
    )}
    {!idDev && <script defer src="/assets/entry.js" type="module" />}
	</head>
  <body class="">
    <div
      aria-hidden="true"
      class="svh | fixed inset-0 w-screen pointer-events-none -z-1 invisible"
      data-ref="windowSizeWatcher"
    ></div>
    <div class="bg" aria-hidden="true"></div>
    <canvas
      aria-hidden="true"
      class="fixed inset-0 w-screen h-screen pointer-events-none"
      data-ref="backCanvas"
    ></canvas>
    <div class="grad grad--upper" aria-hidden="true"></div>
    <div class="grad grad--lower" aria-hidden="true"></div>
    <div class="gridLine gridLine--left" aria-hidden="true"></div>
    <div class="gridLine gridLine--middle" aria-hidden="true"></div>
    <div class="gridLine gridLine--right" aria-hidden="true"></div>
    <slot />
    <canvas
      aria-hidden="true"
      class="fixed inset-0 w-screen h-full pointer-events-none"
      data-ref="frontCanvas"
    ></canvas>
    <div class="scrollbar" data-component=""></div>
    <div class="ui">
      <div class="sp:hidden" data-component="Cursor"></div>
    </div>
    <ClientOnly client:only="react" />
  </body>
</html>

<style>
.svh {
  height: var(--vh * 100);
  height: 100svh;
}

.grad {
  pointer-events: none;
  display: block;
  height: 20vh;
  width: 100%;
  position: fixed;
  z-index: 11;
  left: 0;

  @media (min-width: 640px) {
    height: 25vh;
  }
}

.grad--upper {
  top: 0;
  opacity: 0.4;

  background-image: linear-gradient(
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0.49016) 1.17%,
    hsla(0, 0%, 0%, 0.46296) 4.49%,
    hsla(0, 0%, 0%, 0.42188) 9.72%,
    hsla(0, 0%, 0%, 0.37037) 16.59%,
    hsla(0, 0%, 0%, 0.31192) 24.86%,
    hsla(0, 0%, 0%, 0.25) 34.25%,
    hsla(0, 0%, 0%, 0.18808) 44.52%,
    hsla(0, 0%, 0%, 0.12963) 55.41%,
    hsla(0, 0%, 0%, 0.07813) 66.66%,
    hsla(0, 0%, 0%, 0.03704) 78.01%,
    hsla(0, 0%, 0%, 0.00984) 89.21%,
    hsla(0, 0%, 0%, 0)
  );
}

.grad--lower {
  bottom: 0;
  opacity: 0.3;

  background-image: linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.00984) 10.79%,
    hsla(0, 0%, 0%, 0.03704) 21.99%,
    hsla(0, 0%, 0%, 0.07813) 33.34%,
    hsla(0, 0%, 0%, 0.12963) 44.59%,
    hsla(0, 0%, 0%, 0.18808) 55.48%,
    hsla(0, 0%, 0%, 0.25) 65.75%,
    hsla(0, 0%, 0%, 0.31192) 75.14%,
    hsla(0, 0%, 0%, 0.37037) 83.41%,
    hsla(0, 0%, 0%, 0.42188) 90.28%,
    hsla(0, 0%, 0%, 0.46296) 95.51%,
    hsla(0, 0%, 0%, 0.49016) 98.83%,
    hsla(0, 0%, 0%, 0.5)
  );
}

.gridLine {
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
  background: rgba(4, 31, 30, 0.07);

  @media (prefers-color-scheme: dark) {
    background: rgba(255, 246, 229, 0.07);
  }
}

.gridLine--left {
  left: 2rem;

  @media (min-width: 640px) {
    left: 25%;
  }
}

.gridLine--middle {
  left: 50%;
}

.gridLine--right {
  right: 2rem;

  @media (min-width: 640px) {
    right: auto;
    left: 75%;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(180deg, #fff, #eaeaea);

  @media (prefers-color-scheme: dark) {
    background: var(--color-bg);
  }
}

.ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.scrollbar {
  position: fixed;
  top: 50vh;
  right: 3.2rem;
  z-index: 99;
  pointer-events: none;

  @media (min-width: 640px) {
    right: 4rem;
  }
}
</style>

<style is:global>
	:root {
    --font: 'Jost', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Arial,
      'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    --font-heading: 'Satoshi', sans-serif;
    --font-en: 'Gallery Modern', serif;

    --vh: 1vh;

    --grid: calc(1 / 12 * 100vw);
    --gap: calc(30 / 750 * 100vw);

    --color-text: #1e1f1f;
    --color-bg: #c4c4c4;

    @media (prefers-color-scheme: dark) {
      --color-text: #c4c4c4;
      --color-bg: #1e1f1f;
    }
	}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: calc(10 / 1280 * 100vw);

    @media (min-width: 1280px) {
      font-size: calc(10px + (12 - 10) * ((100vw - 1280px) / (1680 - 1280)));
    }

    @media screen and (max-width: 639px) {
      font-size: 10px;
    }

    @media (min-width: 1680px) {
      font-size: 12px;
    }
  }

  body {
    font-family: var(--font) !important;
    overflow-x: hidden;
    overflow-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    color: var(--color-text);
    background-color: var(--color-bg);

    @media (min-resolution: 1.5dppx) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  html {
    position: fixed;
    overflow: hidden;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none;
  }

  :any-link {
    color: inherit;
    text-decoration: none;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  picture {
    display: block;
  }

  summary {
    display: block;
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  @font-face {
    font-family: 'Gallery Modern';
    src: url('/assets/gallerymodern-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
</style>
