---
const { title = '#', description = '#' } = Astro.props

const siteName = ''
const metaTitle = title
const metaDescription = ''
const ogType = ''
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta property="og:image" content="#">
<meta name="viewport" content="width=device-width" />
<title>{metaTitle}</title>
<meta name="description" content= {metaDescription} />
<meta property="og:type" content={ogType} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<!--meta property="og:image" content="" /-->
<meta property="og:site_name" content={siteName} />
<meta name="twitter:card" content="summary_large_image" />
<link rel="preload" href="/fonts/cicle_fina-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
<style>
  body {
    color: #e3e3e3;
    background: #191918;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  img.lazyload:not([src]) {
    visibility: hidden;
  }
</style>
<script>
  window.__MYPROJECT__ = window.__MYPROJECT__ || {};
  // window.__MYPROJECT__.bootstart = performance.now();
</script>
