---
// import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
	title: string;
  url: string;
}

const { props } = Astro;

const SITE_URL = 'https://shohayakawa.dev';
const siteTitle = 'Sho Hayakawa Portfolio';
const description = 'Frontend Engineer Sho Hayakawa 早川翔 portfolio website';
const title = props.title ? props.title + ' - ' + siteTitle : siteTitle;
const ogUrl = SITE_URL + props.url

const isDev = process.env.NODE_ENV !== 'production';

---
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/PreloadJS/1.0.1/preloadjs.min.js" as="script">
<link as="font" rel="preload" href="/Jost-VariableFont_wght.ttf" crossorigin />
{!isDev && (<link as="style" rel="preload" href="/assets/entry.css" onload="this.onload=null;this.rel='stylesheet';" />)}

<link rel="canonical" href={ogUrl} />

<meta name="description" content={description} />
<title>{title}</title>
<meta content={description} name="description" />

<meta content={title} property="og:title" />
<meta content={props.url ? 'article' : 'website'} property="og:type" />
<meta content={description} property="og:description" />
<meta content={ogUrl} property="og:url" />
<meta content={siteTitle} property="og:site_name" />
<meta content={SITE_URL + '/ogp.jpg'} property="og:image" />

{ // <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap" />
}
<style>
  @font-face {
    font-family: "Jost";
    src: local("Jost"),
      url("/Jost-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-display: swap;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PreloadJS/1.0.1/preloadjs.min.js" is:inline />
{isDev ? (<script src={`http://${process.env.LOCAL_IP_ADDR || 'localhost'}:5173/src/entry.ts`} type="module" />) : <script src="/assets/entry.js" type="module" />}
